.App {
  text-align: center;
  margin: 10px;
}

.movies_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.movies_grid div {
  background-color: darkslategrey;
  color: white;
}